ul {
  padding: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 25px;
  list-style: none;
}

.list {
  width: 311px;
  height: 301px;
  background-color: rgba(255, 196, 0, 0.5);
  border-radius: 40px;
}

.name {
  color: white;
  font-size: 24px;
  padding-top: 25px;
}
