.filter {
  margin-top: 20px;
  display: flex;
  flex-direction: column;

  @media only screen and (min-width: 1080px) {
    position: relative;
    bottom: 130px;
    left: 540px;
  }

  .navRectangle {
    border-radius: 40px;
    width: 321.12px;
    height: 41.73px;
    position: relative;

    .filterButton {
      background-color: rgba(255, 196, 0, 0.5);
      appearance: none;
      color: white;
      font-size: 18px;
      padding: 8px;
      width: 321.12px;
      height: 41.73px;
      border: 0;
      border-radius: 40px;
      z-index: 2;
      font-family: inherit;
    }

    .filterArrow {
      background-color: #dfac00;
      border-radius: 40px;
      position: absolute;
      right: 0px;
      z-index: -1;
    }
  }
}
