.changepage {
  display: flex;
  justify-content: space-between;
  width: 233px;

  button {
    font-family: inherit;
    font-size: 22px;
    color: #ffc500;
    border: none;
    background: transparent;
  }
  img {
    display: none;

    @media only screen and (min-width: 1080px) {
      display: block;
    }
  }
  @media only screen and (min-width: 1080px) {
    position: relative;
    top: -460px;
    width: 1450px;
  }
}
