.changepage {
  display: flex;
  justify-content: space-between;
  width: 233px;

  button {
    font-family: inherit;
    font-size: 22px;
    color: #ffc500;
    border: none;
    background: transparent;
  }

  @media only screen and (min-width: 1080px) {
    position: relative;
    bottom: 460px;
    width: 1450px;
  }
}
